*.DS_Store
target/
bin/
gen/
doc/
.settings/
res/values/settings.xml
.gradle
build/

# Android Studio
*.iml
.idea
#.idea/workspace.xml - remove # and delete .idea if it better suit your needs.
.gradle
build/
